.group {
  width: 100%;
}
.search-icon {
  width: 42rpx;
  height: 42rpx;
  margin: 14rpx 42rpx 0 42rpx;
  vertical-align: top;
}
.location-icon {
  width: 37rpx;
  height: 42rpx;
  margin: 14rpx 45rpx 0 44rpx;
  vertical-align: top;
}
.search {
  padding-top: 20rpx;
}
.search .input {
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 10rpx;
  padding-left: 16rpx;
  height: 70rpx;
}
.serach {
  margin-top: 14rpx;
}
.location .current-location {
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 10rpx;
  padding-left: 16rpx;
  height: 70rpx;
  line-height: 70rpx;
  width: 420rpx;
}
.nearest-btn {
  background: #fff;
  margin: 43rpx 0 0 22rpx;
  display: inline-block;
  padding: 20rpx 30rpx;
  border-radius: 10rpx;
}
.merchants-list {
  margin-top: 21rpx;
}
.merchant {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.merchant + .merchant {
  margin-top: 21rpx;
}
.merchant .name {
  float: left;
  margin-left: 50rpx;
  line-height: 85rpx;
}
.merchant .distance {
  float: right;
  margin-right: 50rpx;
  line-height: 85rpx;
}
.merchant:after {
  display: block;
  content: ' ';
  clear: both;
}