<view>
  <view class="order">
    <image class="order-logo" src="/assets/img/coupon_logo.png"></image>
    <view class="order-content">
      <view class="order-title">面对面（东直门店）</view>
      <view class="order-detail">
        <view class="order-detail-hd">玉米粥等七件商品</view>
        <view class="order-detail-ft">共78.00元</view>
      </view>
      <view class="order-resolved">已完成</view>
    </view>
  </view>

  <view class="order">
    <image class="order-logo" src="/assets/img/coupon_logo.png"></image>
    <view class="order-content">
      <view class="order-title">面对面（东直门店）</view>
      <view class="order-detail">
        <view class="order-detail-hd">玉米粥等七件商品</view>
        <view class="order-detail-ft">共78.00元</view>
      </view>
      <view class="order-resolved">已完成</view>
    </view>
  </view>

  <view class="order">
    <image class="order-logo" src="/assets/img/coupon_logo.png"></image>
    <view class="order-content">
      <view class="order-title">面对面（东直门店）</view>
      <view class="order-detail">
        <view class="order-detail-hd">玉米粥等七件商品</view>
        <view class="order-detail-ft">共78.00元</view>
      </view>
      <view class="order-resolved">已完成</view>
    </view>
  </view>
</view>